{#
 * Created by PhpStorm.
 * User: lqdung
 * Date: 1/31/2019
 * Time: 2:29 PM
#}

{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set body_class = 'shopping_page' %}

{% block stylesheet %}{% endblock stylesheet %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $("select[id=ghn_delivery_shopping_gHNPref]").on("change", function() {
                loadingOverlay();
                let district = $(this).val();
                if (!district) {
                    loadingOverlay("hide");
                    return false;
                }

                let form = $(this).parents('form');
                $.ajax({
                    url: '{{ url('ghn_delivery_service_fee', {id: Shipping.id}) }}',
                    type: 'POST',
                    data: form.serialize()
                }).done(function(data) {
                    $("#ghn-service-section").html(data);
                }).always(function() {
                    loadingOverlay("hide");
                });
            });

            $("select[id=ghn_delivery_shopping_gHNPref]").trigger("change");
        });
    </script>
{% endblock %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'ghn.shopping.delivery'|trans }}</h1>
        </div>
    </div>
    <div class="ec-role">

        {{ include('Shopping/alert.twig') }}

        <div class="ec-registerRole">
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <form id="ghn-service" name="ghn-service" method="post" action="{{ url('ghn_delivery_shopping', {'id': Shipping.id}) }}">
                        {{ form_widget(form._token) }}
                        <div class="ec-borderedDefs" style="margin-bottom: 0px;">
                            <dl>
                                <dt>
                                    {{ 'ghn.shopping.delivery.province'|trans }}
                                </dt>
                                <dd>
                                    <div>
                                        {{ Shipping.Pref.name }}
                                        {{ form_errors(form.main_service_id) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.gHNPref, '', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="{{ has_errors(form.gHNPref) ? ' error'}}">
                                        {{ form_widget(form.gHNPref) }}
                                        {{ form_errors(form.gHNPref) }}
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="ec-borderedDefs" id="ghn-service-section">

                        </div>

                        <div class="ec-RegisterRole__actions">
                            <div class="ec-off4Grid">
                                <div class="ec-off4Grid__cell">
                                    <button type="submit" class="ec-blockBtn--action">{{ 'common.registration'|trans }}</button>
                                    <a data-confirm="false" data-message="{{ 'ghn.shopping.delivery.remove.alret'|trans }}" {{ csrf_token_for_anchor() }} href="{{ url('ghn_delivery_remove', {id: Shipping.id}) }}" class="ec-blockBtn--cancel" data-method="post">{{ 'common.back'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
